html {
	overflow: hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 40px;
	font-size: 32px;
}

body {
	min-height: 740px;
/*
	background: -moz-radial-gradient(50% 50%, farthest-side, #fff, #efefef);
	background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 750, from(#fff), to(#efefef));
	background: -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
*/
	pointer-events: none;	/* Fix Body Click */
}

.step {
	width: 1060px;
	padding: 0 0 40px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.impress-enabled .step {
	margin: 0;
	opacity: 0.3;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.step:not(.active) {
	opacity: 0.0;
}

.impress-enabled .step.active {
	opacity: 1
}

strong {
	font-weight: 800;
	font-weight: bold
}

em {
	font-style: italic;
}

h1, h2 {
	font-weight: normal;
}

h1 {
	font-size: 100px;
	margin: 20px 0;
	line-height: 110px;
}

h2 {
	font-size: 48px;
	font-weight: 300;
	letter-spacing: .1em;
	text-transform: uppercase;
	line-height: 72px;
	margin: 10px 0;
}

.light {
	font-weight: 300;
	letter-spacing: .1em;
}

blockquote {
	text-align: justify;
	font-weight: 300;
	font-style: italic;
	line-height: 1.4;
	margin: 20px 0;
	padding: 10px 0;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	width: 1060px;
}
table {
	width:100%;
}
.present a {
	pointer-events: auto;	/* Enable Click on link */
}

code {
	font-size: 36px;
	line-height: 36px;
}

a {
	pointer-events: none;	/* Fix Body Click */
	text-decoration: none;
/*
	color: inherit;
	text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
*/
	color: #1e88e5;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	font-weight: bold;
}

a:hover {
/*
	color: #333;
	text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
*/
}

p {
	font-weight: 400;
	line-height: 60px;
}

ol {
	margin: 20px 0 20px 70px;
}

ul {
	margin: 20px 0 20px 50px;
}

li {
	line-height: 50px;
}

td,th {
	vertical-align: top;
	line-height: 44px;
}

.fallback-message {
	font-family: sans-serif;
	line-height: 1.3;
	width: 780px;
	padding: 10px 10px 0;
	margin: 20px auto;
	border: 1px solid #E4C652;
	border-radius: 10px;
	background: #EEDC94;
}

.fallback-message p {
	margin-bottom: 10px;
}

.impress-supported .fallback-message {
	display: none;
}

span, strong {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	display: inline-block;
}

.present .positioning {
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);
}

.present .rotating {
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
	-webkit-transition-delay: 0.25s;
	-moz-transition-delay: 0.25s;
	-ms-transition-delay: 0.25s;
	-o-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.present .scaling {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	-o-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* CUSTOM STYLES */

/* HIGHLIGHT.JS */

pre code {
	background-color: inherit;
	padding: 0 2em;
}

code {
	font-family: monospace;
	font-size: 24px;
	line-height: 30px;
}

/* GREULER */

text {
	font-size: 13px;
}

.outer-top-right {
	font-size: 11px;
	fill: #000;
}

#greuler-n836af52d06d5e8 text,
#greuler-k6c1b87b6d8371 text,
#greuler-xe3065f1bc60cc text {
	fill: #E74C3C;
}

.steps, .legend {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.steps li {
	display: inline-block;
	margin-right: 1em;
}

.steps a {
	border: 1px solid #000;
/*	border-radius: 50%; */
	display: inline-block;
	height: 1.3em;
	line-height: 1.3em;
	margin: 0;
	text-align: center;
	width: 1.3em;
	text-shadow: none;
	text-decoration: none;
	color: #000;
}

.steps a:hover, .steps .current {
	background: #000;
	color: #FFF;
}

.legend {
	text-align: right;
}

.legend li {
	display: inline-block;
	font-size: 22px;
}

.legend li:before {
	position: relative;
	content:"\25A0";
	padding: 0 0.2em;
	font-size: 1.6em;
	line-height: 1em;
}

#gnd:before {
	color: #2980B9;
}

#cs:before {
	color: #F44336;
}

#geonames:before {
	color: #4CAF50
}

.subject-background {
	background: #81d4fa;
}

.predicate-background {
	background: #ff8a65;
}

.object-background {
	background: #a5d6a7;
}

.subject-color, .subject:before {
	color: #0277bd;
}

.predicate-color, .predicate:before {
	color: #ff6d00;
}

.object-color, .object:before {
	color: #2e7d32;
}

.highlight-background {
	background: #ffff00;
}

/* presentation specifics */

#step-1 h1 {
	font-size: 80px;
	line-height: 90px;
}

#step-1 h4 {
	font-size: 30px;
}

#step-10 li {
	font-size: 30px;
	line-height: 1.3;
}

#step-22 code {
	font-size: 20px !important;
}

/* SPECIAL */
.centered {
	text-align: center;
}

.small {
	font-size: 16px;
	margin: -3em 0 0 0;
}

.skip {
	display: none;
}

span.hidden_img a img { display: none; }

span.hidden_img a:hover img{
    display: block;
    position: absolute;
    left: 250px; /* change this value to one that suits you */
    top: 100px; /* change this value to one that suits you */}

.black {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 0.1px;
    border-color: black;
}

.author_meta {
    margin-top: 1em;
    font-size: 25px;
}

.license {
    font-size: 17.5px;
}

.red {
    color: #C00000;
}
